.App {
  text-align: center;
}

#del-icon{
  color: rgba(255, 23, 23);
  
}
/* Post button icon styling */
#Post-ico p {
  display: inline;
  padding:0;
  margin-left: 8px;
}

/* spinner styling for loading screen */
#spinner{
  text-align: center;
  color: rgb(15, 98, 207);
  position: absolute;
  top:600px;

}